<div class="centerpiece container-fluid">
  <h2 class="text-center mt-4">Looking to find new contacts?</h2>
  <div class="mt-4">
    <label class="form-label">Filter by Distance:</label>
    <div class="row form-check-group">
      <div class="col-md-3"></div>
      <div class="col-md-2 form-check">
        <input class="form-check-input" type="radio" name="maxDistance" value="100" [(ngModel)]="selectedDistance" id="distance100">
        <label class="form-check-label" for="distance100"><= 100 km</label>
      </div>
      <div class="col-md-2 form-check">
        <input class="form-check-input" type="radio" name="maxDistance" value="200" [(ngModel)]="selectedDistance" id="distance200">
        <label class="form-check-label" for="distance200"><= 200 km</label>
      </div>
      <div class="col-md-2 form-check">
        <input class="form-check-input" type="radio" name="maxDistance" value="300" [(ngModel)]="selectedDistance" id="distance300">
        <label class="form-check-label" for="distance300"><= 300 km</label>
      </div>
      <div class="col-md-5"></div>
    </div>
    <div class="row form-check-group mt-2">
      <div class="col-md-3"></div>
      <div class="col-md-2 form-check">
        <input class="form-check-input" type="radio" name="maxDistance" value="500" [(ngModel)]="selectedDistance" id="distance500">
        <label class="form-check-label" for="distance500"><= 500 km</label>
      </div>
      <div class="col-md-2 form-check">
        <input class="form-check-input" type="radio" name="maxDistance" value="1000" [(ngModel)]="selectedDistance" id="distance1000">
        <label class="form-check-label" for="distance1000"><= 1000 km</label>
      </div>
      <div class="col-md-2 form-check">
        <input class="form-check-input" type="radio" name="maxDistance" value="500000000" [(ngModel)]="selectedDistance" id="distanceUnfiltered">
        <label class="form-check-label" for="distanceUnfiltered">Unfiltered</label>
      </div>
      <div class="col-md-5"></div>
    </div>
    <button class="btn btn-cust2 mt-3" (click)="onFindUsers()">Go!</button>
  </div>
  <div class="mt-4 user-card" *ngIf="users.length > 0">
    <app-individual-user-card *ngFor="let user of users" [user]="user" (cardClicked)="onUserCardClick($event)"></app-individual-user-card>
  </div>
</div>
<app-footer></app-footer>
