<div class="centerpiece container-fluid">
  <div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10">
      <div>
        <label for="displayName">Display Name:</label>
        <input type="text" id="displayName" [(ngModel)]="profileData.displayName" [readonly]="!isEditable">

        <label for="email">Email:</label>
        <input type="email" id="email" [(ngModel)]="profileData.email" [readonly]="!isEditable">

        <label for="password">Password:</label>
        <input type="{{ isEditable ? 'text' : 'password' }}" id="password" [(ngModel)]="profileData.password" [readonly]="!isEditable">

        <label for="birthday">Birthday:</label>
        <input type="date" id="birthday" [(ngModel)]="birthDate" [readonly]="!isEditable">

        <div>
          <label for="fullAddress">Location:</label>
          <span id="fullAddress">{{ fullAddress }}</span>
          <button class="ml-3" (click)="getUserLocation($event)" [disabled]="!isEditable">Get current location</button>
        </div>
      </div>

      <div>
        <label *ngIf="!isEditable">Subscribed Topics:</label>
        <label *ngIf="isEditable">Unsubscribe from topic:</label>
        <select multiple [(ngModel)]="selectedTopics" readonly>
          <option *ngFor="let topic of topics" [value]="topic.id" (click)="isEditable ? removeTopic(topic.id) : null">
            {{ topic.topicName }}
          </option>
        </select>
      </div>

      <div class="actions" *ngIf="isEditable">
        <button class="confirm-change" (click)="confirmChanges()">Confirm Changes</button>
        <button class="cancel-change" (click)="cancelChanges()">Cancel</button>
        <button class="delete-change" (click)="openDeleteConfirm()">Delete Account</button>
      </div>

      <div class="text-center" *ngIf="!isEditable">
        <button (click)="confirmPassword()">Edit Profile</button>
      </div>
    </div>
  </div>

  <div class="col-md-1"></div>
</div>

<app-footer></app-footer>
