<div class="centerpiece container-fluid">
  <div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10">
      <div>
        <label for="displayName">Display Name:</label>
        <input [ngClass]="!isEditable ? 'bg-secondary border-dark' : 'bg-white'" type="text" id="displayName" [(ngModel)]="profileData.displayName" [readonly]="!isEditable">

        <label for="email">Email:</label>
        <input [ngClass]="!isEditable ? 'bg-secondary border-dark' : 'bg-white'" type="email" id="email" [(ngModel)]="profileData.email" [readonly]="!isEditable">

        <label for="password">Password:</label>
        <input [ngClass]="!isEditable ? 'bg-secondary border-dark' : 'bg-white'" type="{{ isEditable ? 'text' : 'password' }}" id="password" [(ngModel)]="profileData.password" [readonly]="!isEditable">

        <div class="row">
          <div class="col-md-4">
            <label for="birthday">Birthday:</label>
            <input [ngClass]="!isEditable ? 'bg-secondary border-dark mt-3' : 'bg-white mt-3'" type="date" id="birthday" [(ngModel)]="birthDate" [readonly]="!isEditable">
          </div>
          <div class="col-md-2"></div>
          <div class="col-md-6">
            <label for="fullAddress">Location:</label>
            <span class="text-dark" id="fullAddress">{{ fullAddress }}</span>
            <button class="ml-3" (click)="getUserLocation($event)" [disabled]="!isEditable">Get current location</button>
          </div>
        </div>
      </div>

      <div>
        <div *ngIf="!isEditable; else unsub_lab">
          <label>Subscribed Topics:</label>
        </div>
        <ng-template #unsub_lab>
          <label>Unsubscribe from topic:</label>
        </ng-template>

        <select multiple [(ngModel)]="selectedTopics" [ngClass]="!isEditable ? 'bg-secondary border-dark' : 'bg-white'" readonly>
          <option *ngFor="let topic of topics" [value]="topic.id" (click)="isEditable ? removeTopic(topic.id) : null">
            {{ topic.topicName }}
          </option>
        </select>
      </div>

      <div class="actions" *ngIf="isEditable">
        <button class="confirm-change" (click)="confirmChanges()">Confirm Changes</button>
        <button class="cancel-change" (click)="cancelChanges()">Cancel</button>
        <button class="delete-change" (click)="openDeleteConfirm()">Delete Account</button>
      </div>

      <div class="text-center" *ngIf="!isEditable">
        <button (click)="confirmPassword()">Edit Profile</button>
      </div>
    </div>
  </div>

  <div class="col-md-1"></div>
</div>

<app-footer></app-footer>
