<div class="container-fluid">
  <div class="fixed-bottom p-2 nav-bg-custom row text-center">
    <div class="col-md-1"></div>
    <div class="col-md-2"><button class="btn-cust" routerLink="/home">Home</button></div>
    <div class="col-md-2"><button class="btn-cust" routerLink="/findlobby" >Find</button></div>
    <div class="col-md-2"><img class="logo" src="../../assets/ALL ONE LOGO.png" alt="logo"></div>
    <div class="col-md-2"><button class="btn-cust" routerLink="/voting">Vote</button></div>
    <div class="col-md-2"><button class="btn-cust" routerLink="/profile">Profile</button></div>
    <div class="col-md-1"></div>
  </div>
</div>
